<div class="centered-page">
  <h2>Dashboard</h2>
  <%= render "projects/form", project: @project %>
<% @projects.each do |project| %>
  <%= render "projects/project_card", project: project %>
<% end %>

</div>
