<div class="centered-page">
  <div class="profile-header">
    <h2>
      <%= @user.first_name %> | <span>@<%= @user.username %></span>
    </h2>
  </div>

  <% if @projects.any? %>
    <% @projects.each do |project| %>
      <%#= render partial: "projects/project_card", locals: { project: project } %>
      <%= render partial: "projects/project_card", locals: { project: project, show_actions: false } %>
    <% end %>
  <% else %>
    <p>This user has no projects yet.</p>
  <% end %>
</div>

