<div class="project-card">
  <h3><%= project.name %></h3>
  <p><%= project.description %></p>
  <small>
    Created: <%= project.created_at.strftime('%b %d, %Y %H:%M') %>
    <%# Optionally, add edit/delete links if you want %>
  </small>
</div>

